.btn{
    padding: 12px 32px 12px 24px;
    color: white;
    font-weight: 300;
    background-color: #0E7483;
    border-radius: 56px;
    width: 100%;
    max-width: 280px;
}

.disabled{
    background-color: #ECF4F5;
    border-radius: 56px;
    width: 100%;
    max-width: 280px;
    padding: 12px 32px 12px 24px;
    color: #9DA3B6;
    font-weight: 300;
}