.btn {
  padding: 8px 12px;
  border-radius: 36px;
  width: 25%;
  background-color: #f5f6fa;
  color: #5f657a;
}

.btn_active {
  padding: 8px 12px;
  border-radius: 36px;
  width: 25%;
  background-color: #0E7483;
  color: white;
}
