.title{
    margin-top: 24px;
}

.subtitle{
    margin-top: 8px;
    color: #5F657A;
    span{
        color: black;
    }
}

.photos_block{
    margin-top: 16px;
    border: 1px dashed #0E7483;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 20px 0;
    border-radius: 12px;
    position: relative;
    &__image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        img{
            width: 101%;
            height: 101%;
            border-radius: 12px;
        }
    }
    &__btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        button{
            padding: 8px 32px 8px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 56px;
            color: #0E7483;
            font-size: 14px;
            font-weight: 600;
            label{
                display: flex;
                align-items: center;
                gap: 8px;
                cursor: pointer;
            }
        }
        button:first-child{
            border: 1px solid #0E7483;
        }
    }
}